*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    background: #FFF8F3;
    background-image: url(images/header_bg.png),url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
.nav-title{
    font-weight: 900;
    font-size: 40px;
    margin: 50px 200px;
}
nav{
    display: flex;
    justify-content: space-between;   
}
nav ul{
    display: flex;
    align-items: center;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.text-primary{
    color: orangered;
}
.hair-btn, .download-btn{
    background: #FD6E0A;
    border-radius: 5px;
    color: white;
    height: 64px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
}
.Contact-btn{
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    height: 64px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 20px;
}
.header-banner{
    margin: 0 80px 0 200px;
    display: flex;
    align-items: center;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;    
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;    
}
.banner-discription{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-me-part{
    text-align: center;
    margin: 100px 200px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 100px 150px;
}
.about-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.about-discription{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info-title{
    text-align: center;
    color: #757575;
    font-weight: 400;
    font-size: 20px;
}
.about-info-discription{
    font-weight: 700;
    font-size: 20px; 
    color: #474747;
}
.What-I-do-section{
    margin: 100px 200px;
}
.What-I-do-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.What-I-do-discription{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    padding: 0 100px 30px 100px;
}
.skil-container{
    display: flex;
    gap: 24px;
}
.skil{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-discription{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
/*  */
.resume-section{
    margin: 100px 200px;
}
.resume-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 50px;
}
.resume-content{
    display: flex;
    gap: 24px;
}
.education-item, .experience-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.education-title, .experience-title{
    font-size: 30px;
    color: #474747;
    font-weight: 700;
}
.education-item-title, .experience-item-title{
    font-weight: 700;
    font-size: 25px;
    color: #474747
}
.education-item-sub-title, .experience-item-sub-title{
    font-weight: 600;
    font-size: 20px;  
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}
.education-item-discription, .experience-item-discription{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.resume-button{
    text-align: center;
    margin-top: 50px;
}
.Connect-section{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.Connect-title{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.Connect-section input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 461px;
    border-radius: 5px;
    padding: 18px 30px;
}
.Connect-section p{
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 30px;
}